*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.page-title {
    padding-inline: var(--side-padding);
}

.post-content {
    padding-inline: var(--side-padding);
}

.recipe-grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--min-col-size), 100%), 1fr)
    );

    padding-inline: var(--side-padding);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.card-media {
    display: flex;
}

.card-media img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    padding-block: 1rem;
    padding-inline: var(--side-padding);
}

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: var(--side-padding);
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-checkbox {
    display: none; /* Hide the actual checkbox */
}

.nav-toggle {
    display: none; /* Hide toggle on desktop */
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav {
    display: flex;
    gap: 1rem;

    a:hover {
        color: #007bff;
    }
}

.about-txt {
    padding-inline: var(--side-padding);
}

.write-me {
    padding-block: 1rem;
    padding-inline: var(--side-padding);
    color: red;
}

footer {
    background: #2f2f2f;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.5rem 0;
}

footer p {
    margin: 0;
}

/* Responsive Mobile Styles */
@media (max-width: 768px) {
    .nav-toggle {
        display: block; /* Show hamburger on mobile */
    }

    .nav {
        display: none; /* Hide menu by default */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #f9f9f9;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
    }

    .nav a {
        margin: 10px 0;
        display: block;
    }

    /* The "Magic": When checkbox is checked, show the nav */
    .nav-checkbox:checked ~ .nav {
        display: flex;
    }
}
