<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/public/css/style.css' | url }}" />
        <link rel="stylesheet" href="{{ '/public/css/variables.css' | url }}" />
        <script src="{{ '/public/js/script.js' | url }}" defer></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <header class="site-header">
                <h2><a href="{{ '/' | url }}">Mam Wypieki</a></h2>

                <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />

                <label
                    for="nav-checkbox"
                    class="nav-toggle"
                    aria-label="Toggle navigation"
                >
                    ☰
                </label>

                <nav class="nav">
                    <a href="{{ '/' | url }}">Home</a>
                    <a href="{{ '/bakery' | url }}">Bakery</a>
                    <a href="{{ '/vege' | url }}">Vege</a>
                    <a href="{{ '/about' | url }}">About</a>
                </nav>
            </header>

            <h3 class="page-title">{{ title }}</h3>

            <main>{{ content | safe }}</main>
        </div>

        <footer>
            <p>&copy; 2025 Mam Wypieki</p>
        </footer>
    </body>
</html>
