<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/public/css/style.css' | url }}" />
        />
        <script src="{{ '/public/js/script.js' | url }}" defer></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <header class="site-header">
                <h2>{{ title | default: "Mam Wypieki ☺️" }}</h2>

                <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />

                <label
                    for="nav-checkbox"
                    class="nav-toggle"
                    aria-label="Toggle navigation"
                >
                    ☰
                </label>

                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/bakery">Bakery</a>
                    <a href="/vege">Vege</a>
                    <a href="/about">About</a>
                </nav>
            </header>

            <main>{{ content }}</main>
        </div>

        <footer>
            <p>&copy; {{ "now" | date: "%Y" }} Mam Wypieki</p>
        </footer>
    </body>
</html>
