@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --color-background: #007bff;
    --min-col-size: 200px; /*recipe-grid*/
    --side-padding: 1rem;
}
